@model OziBazaar.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ul class="unstyled">
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName)
            </li>
            <li>
                @Html.LabelFor(m => m.EmailAddress)
                @Html.TextBoxFor(m => m.EmailAddress)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone)
                @Html.TextBoxFor(m => m.Phone)
            </li>
            <li>
               <img id="m_imgCaptcha" alt="Click to Change image" src="" title="Click to Change image"
                   onclick ="loadCaptcha();" style="width: 200px; height: 50px;" />
                @Html.TextBoxFor(m => m.CaptchaInput)
            </li>
        </ul>
        <input type="submit" class="btn" value="Register" />
    </fieldset>
}

<script type="text/javascript">
        $(document).ready(function () {
            loadCaptcha();
        });
        function loadCaptcha() {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GenerateCaptcha","Helper")',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                cache: false,
                success: function (data) { $("#m_imgCaptcha").attr('src', '@Url.Content("~/Temp/")' + data); },
                error: function (data) { alert("Error while loading captcha image") }
            });
        }
</script>