
@{
    ViewBag.Title = "Select Category";
}

<h2>Add Advertisement</h2>
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />




@using (Html.BeginForm("AddProduct","Product")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            <table class="table table-striped table-bordered table-condensed">
                <tr>
                    <td><strong>Ad Title</strong></td>
                    <td>@Html.TextBox("AdTitle")</td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td><strong>Category</strong></td>
                    <td>@Html.DropDownList("category", ViewBag.Categories as SelectList)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><strong>From</strong></td>
                    <td>@Html.TextBox("txtAdStart")</td>
                    <td><strong>To</strong></td>
                    <td>@Html.TextBox("txtAdEnd")</td>
                </tr>
            </table>
            
        </div>

            <div class="col-md-offset-2">
                <input type="submit" value="Next" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "AdList", new { controller = "Ad" }, new { @class = "btn btn-primary" })
            </div>
        </div>
}
@section scripts
{
<script type="text/javascript" language="javascript">
    $(function () {

        $('#txtAdStart').datepicker();
        $("#txtAdEnd").datepicker();
    });
</script>
}